.socials{
    display: grid;
    grid-template-columns: 1fr 1fr;
   
}

.fb,.instagram{
    text-align: center;
}

@media (max-width:600px) {
    .socials{
        display: none;
    }
}

@media (max-width:420px) {
    .nav-container{
        grid-template-columns: auto;
        grid-gap: 1rem;
        justify-content: center;
    }
}